.metronome-big {
  width: 50px;
  height: 100px;
  border: 5px solid var(--accent-9);
}

.metronome-small {
  width: 50px;
  height: 50px;
  border: 5px solid var(--accent-9);
}

.metronome {
  display: flex;
  gap: 15px;
}

.selected {
  background-color: var(--accent-9);
}

.ticks {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}