.metronome-tick {
  width: 100%;
  border: 5px solid var(--accent-9);
  border-radius: var(--radius-6);
}

.metronome-tick-small {
  height: 50px;
}
.metronome-tick-big {
  height: 100px;
}

.selected {
  background-color: var(--accent-9);
}
