.metronome-tick {
  width: 100%;
  border: 5px solid var(--accent-9);
  border-radius: var(--radius-6);
  background: linear-gradient(to right, var(--color-background) 33%, var(--accent-9) 33% 66%, var(--color-background) 66% 100%);
  background-size: 300%;
  background-position: right bottom;
  transition: none;
}

.metronome-tick-small {
  height: 50px;
}
.metronome-tick-big {
  height: 100px;
}

.selected {
  background-position: left bottom;
  transition: all var(--beat-time) linear; 
}
