.stave-note {
  display: flex;
  flex-direction: column;
}

.sticking {
  display: flex;
  justify-content: center;
  align-items: center;
}

.note {
  border: 1px solid var(--accent-9);
  cursor: pointer;
}

.note-selected {
  background: var(--accent-9);
}
