.stave {
  padding-right: var(--space-7);
}

.stave-content {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--accent-9);
  margin-bottom: 5px;
  align-items: center;
}

.stave-notes {
  display: flex;
}

.with-space-left {
  margin-left: var(--space-2);
}
